header { // TODO: Style order. Padding/height/margin, second - font, at the end - border/background, etc
  padding: 5px;
  height: 60px;
  background-color: #8fa3a8; // TODO: Use var
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  img {
    height: 90%;
  }

  .buttons {
    height: 50%;
    align-self: center;

    a {
      text-decoration: none;
    }
  }
}
