<div class="sign-up">

  <form action="" method="post">

    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide_password_icon ? 'password' : 'text'" class="form-control" [formControl]="password" required>
      <button mat-icon-button matSuffix (click)="hide_password_icon = !hide_password_icon" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password_icon" >
        <mat-icon>{{hide_password_icon ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="buttons">
      <button type="button" mat-raised-button (click)="signIn()" >Send</button>
      <button type="reset" mat-raised-button>Clear</button>
    </div>

  </form>


</div>
