<form action="" method="post">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter new nickname</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter LinkedIn link</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter LinkedIn link</mat-label>
    <input matInput>
  </mat-form-field>

  <div class="buttons">
    <button type="submit" mat-raised-button>Send</button>
    <button type="button" mat-raised-button>Restore</button>
  </div>

</form>
